<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %}

{% block content %}
 					<p style="bacground-color: grey; font-size: 160px;" align="center"><img src="static/animat.gif" class="">Oops!</p>
                    <p style="bacground-color: grey; font-size: 40px;" align="center"><strong>Sorry!</strong> That page  is not on this server.<br>   Please check the url and try again. </p>


</div>
</div>

   {% endblock %}
</body>
</html>