<!DOCTYPE html>
<html lang="en">
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

   <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
		<!-- Website CSS style -->
		<link rel="stylesheet" type="text/css" href="static/login.css">
        <link rel="stylesheet" type="text/css" href="static/index.css">

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

        <script src="https://use.typekit.net/ayg4pcz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

<style>

        body {
  padding-top: 0px;
  padding-bottom: 20px;
}
  </style>

		<title>Login</title>
	</head>
	<body>

    <div class="container" style="min-height:100% width:80%">
                                    {% with messages = get_flashed_messages() %}
                                      {% if messages %}
                                        {% for message in messages %}
                                          <div class="alert alert-warning alert-dismissible" role="alert">
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            {{message}}
                                          </div>
                                        {% endfor %}
                                      {% endif %}
                                    {% endwith %}

                                    {% block body %}{% endblock %}
                                    </div>







<div class="menu">
    <div class="container-fluid">
		<div class="navbar-header">
			<a href="/index">Andelib</a>
		</div>
		<div>


                <nav>
                <ul class="nav nav-pills pull-left">
                    <li role="presentation" ><a href="index">Home</a>
                    </li>
                    {% if session['logged_in'] and session['user'] and session['status']=="Admin" %}
                    <li role="presentation"><a href="list_users">Users</a>
                    </li>
                 {% else %}
                {% endif %}
                    <li role="presentation"><a href="list_books">Books</a>
                    </li>
                    <li role="presentation"><a href="list_activities">Logs</a>
                    </li>
                </ul>



                     </nav>





			<ul class="nav navbar-nav navbar-right">



                <li><a href="/signup" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				<li  class="active" ><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>







			</ul>


		</div>
	</div>
</div>


















    <div class="container">
    <h1 class="welcome text-center">Welcome to <br> Andela Library</h1>
        <div class="card card-container">
        <h2 class='login_title text-center'>Login</h2>
        <hr>


            <form class="form-signin" action="/login" method="POST">
                <span id="reauth-email" class="reauth-email"></span>
                <p class="input_title">Email</p>
                <input type="text" id="inputEmail" class="login_box" placeholder="coder1@andela.com" name="useremail" value="{{
          request.form.useremail }}" required autofocus>
                <p class="input_title">Password</p>
                <input type="password" id="inputPassword" class="login_box" placeholder="******" name="password" value="{{
          request.form.password }}" required>
                <div id="remember" class="checkbox">
                    <label>

                    </label>
                </div>
                <button class="btn btn-lg btn-primary" type="submit">Login</button>

                <div class="login-register">
				            <a href="/signin">Register</a>
				         </div>


            </form><!-- /form -->
        </div><!-- /card-container -->
    </div><!-- /container -->






    		<script type="text/javascript" src="assets/js/bootstrap.js"></script>
	</body>
</html>